* {
  padding: 0;
  margin: 0;
}

nav {
  z-index: 1;
  position: fixed;
}

.circuitBackground {
  background: url("/assets/circuitBackgroun.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.meeting {
  border-radius: 20px;
  width: 100%;
}

.basic_info {
  font-weight: bold;
  font-size: 2.5rem;
  text-transform: uppercase;
}

form {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 20px;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  margin-top: 10vh;
}

.text_justify {
  text-align: justify;
}

.regulacion {
  margin-top: 10vh !important;
}

.modulos {
  height: 130vh;
  width: 100%;
}

.shapeWrapper {
  width: 501px;
  height: 501px;
  position: relative;
  margin-top: 10%;
}

.shape {
  display: block;
  position: absolute;
  top: 45%;
  left: 27%;
  margin: -51px;
  color: white;
  text-align: center;
  cursor: pointer;
  line-height: 7rem;
  height: 0;
  width: 180px;
  border-bottom: 100px solid #32557f;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
}

.shape span {
  font-size: 0.8rem;
}
.deg-0 {
  transform: translate(215px) rotate(270deg);
}
.deg-0 span {
  display: block;
  transform: rotate(90deg);
}
.deg-45 {
  transform: rotate(46deg) translate(215px) rotate(270deg);
}
.deg-45 span {
  display: block;
  transform: rotate(45deg);
}
.deg-90 {
  transform: rotate(91deg) translate(215px) rotate(270deg);
}
.deg-90 span {
  display: block;
}
.deg-135 {
  transform: rotate(136deg) translate(215px) rotate(270deg);
}
.deg-135 span {
  display: block;
  transform: rotate(-45deg);
}
.deg-180 {
  transform: rotate(181deg) translate(215px) rotate(270deg);
}
.deg-180 span {
  display: block;
  transform: rotate(-90deg);
}
.deg-225 {
  transform: rotate(226deg) translate(215px) rotate(270deg);
}
.deg-225 span {
  display: block;
  transform: rotate(-135deg);
}
.deg-270 {
  transform: rotate(271deg) translate(215px) rotate(270deg);
}
.deg-270 span {
  display: block;
  transform: rotate(180deg);
}
.deg-315 {
  transform: rotate(316deg) translate(215px) rotate(270deg);
}
.deg-315 span {
  display: block;
  transform: rotate(135deg);
}

@media only screen and (max-width: 480px) {
  .shape {
    top: 70%;
    left: 52%;
    width: 100px;
    line-height: 4rem;
    border-bottom: 60px solid #32557f;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
  .moduloText{
    display: none;
  }
  .deg-0 {
    transform: translate(125px) rotate(270deg);
  }
  .deg-45 {
    transform: rotate(46deg) translate(125px) rotate(270deg);
  }
  .deg-90 {
    transform: rotate(91deg) translate(125px) rotate(270deg);
  }
  .deg-90 span {
    display: block;
  }
  .deg-135 {
    transform: rotate(136deg) translate(125px) rotate(270deg);
  }
  .deg-180 {
    transform: rotate(181deg) translate(125px) rotate(270deg);
  }
  .deg-225 {
    transform: rotate(226deg) translate(125px) rotate(270deg);
  }
  .deg-270 {
    transform: rotate(271deg) translate(125px) rotate(270deg);
  }
  .deg-315 {
    transform: rotate(316deg) translate(125px) rotate(270deg);
  }

  .modulos{
    height: 90vh;
  }
  .logoAnimado{
    width: 200px;
    margin-top: 58%;
    margin-left: 24%;
  }
}
